* {
	box-sizing: border-box;
}
html {
	line-height: 1.5;
}
body {
	margin: 0;
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
		Noto Sans, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
	color: #111;
}
main {
	max-width: 70ch;
	padding: 1rem;
	margin: 0 auto;
}
header,
footer {
	background: #f6f6f6;
	padding: 1rem;
}
nav a {
	margin-right: 1rem;
}
a {
	color: #0645ad;
}
a:hover {
	text-decoration: underline;
}
h1,
h2 {
	line-height: 1.2;
}
